<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>App</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css'
      integrity='sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls'
      crossorigin='anonymous'
    />
  </head>
  <body>
    <form
      class='pure-form pure-form-aligned'
      action='/upload'
      method='POST'
      enctype='multipart/form-data'
    >
      <fieldset>
        <div class='pure-control-group'>
          <label for='title'>Title</label>
          <input type='text' id='title' name='title' />
          <span class='pure-form-message-inline'>Title</span>
        </div>
        <div class='pure-control-group'>
          <label for='files'>Files</label>
          <input type='file' id='files' name='files' multiple />
          <span class='pure-form-message-inline'>Files</span>
        </div>
        <div class='pure-controls'>
          <button
            type='submit'
            class='pure-button pure-button-primary'
          >Submit</button>
        </div>
      </fieldset>
    </form>
  </body>
</html>